// GLOBAL SETTINGS
$page-width: 1200px;


// COLORS
$black: #000;
$white: #fff;

$color-main: blue;
$color-font: $black;


// FONTS
$font-sans: Helvetica Neue,Helvetica,Arial,sans-serif;
$font-serif: Times New Roman;
$font-mono: Courier;

// OTHER
$box-shadow: 0 0 3px rgba(0,0,0,0.5);

// BUTTONS
$button-height:     30px;
$button-padding:    0 15px;
